<div class="text-center">
  <h1>All cocktails</h1>

  <div class="container text-center">
    <div class="row">
      <% @cocktails.each do |c| %>
          <%= render 'cocktail_cards', cocktail: c %>
      <% end %>
    </div>
  </div>
</div>

<a> <%= link_to "Créer un nouveau cocktail", new_cocktail_path %> </a>





<!--
<% @cocktails.each do |cocktail| %>
    <h2> name : <%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <% cocktail.doses.each do |dose| %>
          <p> <%= dose.ingredient.name %> : <%= dose.description %> </p>
        <% end %>
  <p> <%= link_to "Effacer ce cocktail", cocktail_path(cocktail), method: :delete %></p>
<% end %>
 -->
